#spritz
{
    width: 216px;
}


#limoncello
{
    width: 136px;
}

#bellini
{
    width: 218px;
}

#daïquiri
{
    width: 200px;
}

#rhumCoca
{
    width: 172px;
}

#whiskyCoca
{
    width: 162px;
}

#barbottage
{
    width: 176px;
}

#kir
{
    width: 62px;
}

#prosecco
{
    width: 100px;
}

#caïpirinha
{
    width: 196px;
}

#framboise
{
    width: 148px;
}

#gin
{
    width: 68px;
}

#vodka
{
    width: 158px;
}